* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin sans', sans-serif;
    background: #444059;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

img {
    width: 150px;
    margin: 0 auto;
}

#title {
    color: #FFFFFF;
    text-align: center;
}

#endorsement-textarea {
    width: 317px;
    height: 118px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    background: #1A1A1A;
    color: #D0D0D0;
    padding: 8px;
}

#inputs-container {
    display: flex;
    gap: 8px;
}

#from-input, #to-input {
    flex-grow: 1;
    width: 152px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 8px;
    text-align: center;
    background: #1A1A1A;
    color: #D0D0D0;
}

#endorsement-textarea::placeholder, #from-input::placeholder, #to-input::placeholder {
    color: #8F8F8F;
}
